---
layout: archive
author_profile: true
---
<div class="post">
	<h1 class="pageTitle">Welcome</h1>
	<p class="intro">My name is Won Suh, and this is my personal website.</br>
	 <a href="/numbers/">Numbers</a> section will talk about my interest in data science / statitcs things that I found fun in my life.</br></br> <a href="/extracurriculars">Extracurriculars</a> section will talk about my travels or other things that I am up to. <br/><br/>If you like to know more about <a href="/bio/">me</a>...</p>

</div>

